.company-list-container {
  padding: 16px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
 
}

@media (max-width: 768px) {
  .company-list-container {
    padding: 8px;
  }
}
