.company-details {
  height: 100vh;
  width: 100%;
}

.location-list-sider {
  background: #fff !important;
  overflow: auto;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.map-content {
  height: 100vh;
  position: relative;
  width: 100%;
}

.menu-button {
  position: absolute;
  top: 90px;
  left: 10px;
  z-index: 1000;
  display: none;
}

@media (max-width: 992px) {
  .menu-button {
    display: block;
  }

  .location-list-sider {
    display: none;
  }
}
