.location-list {
  padding: 10px;
}

.location-list h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
}

.back-button {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 16px;
  color: #1890ff;

  span {
    margin-left: 8px;
  }
}

.back-button:hover {
  text-decoration: underline;
}

.ant-list-item {
  cursor: pointer;
  padding: 16px;
  border: 1px solid #f0f0f0;
  margin-bottom: 8px;
  border-radius: 2px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.ant-list-item:hover {
  background-color: #e3e9f2;
  text-decoration: none;
  color: #1890ff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ant-list-item:active {
  background-color: #d8e9f0;
}

.ant-list-item-meta-title {
  font-weight: 500;
  font-size: 18px;
}

.ant-list-item-meta-description {
  font-size: 14px;
  color: #888;
}

.ant-list-item:last-child {
  margin-bottom: 0;
  position: relative;
}

.ant-list-item:last-child::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #f0f0f0;
}
