body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

* {
  box-sizing: border-box;
}

.app-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

@media (max-width: 768px) {
  .app-content {
    padding: 8px;
  }
}
